# SparkSession

U uvodnom tekstu smo ukratko spomenuli Spark ulaznu točku zvanu SparkContext koja predstavlja konekciju sa Spark klasterom - SparkSession je nadskup toga. Okružuje SparkContext i pruža mogućnost interakcije sa Spark SQL API-jem koji sadrži DF koji ćemo koristiti u većini naših programa. 

Prije pokretanja PySpark koda potrebno je kreirati SparkSession instancu. Dok je pokrenuta možete dohvatiti pregled vašeg Spark klastera i svih operacija na http://localhost:4040.

SparkSession objektu ćete dodijeliti određene parametre kako biste postavili i konfigurirali Spark aplikaciju - neki od parametara uključuju naziv aplikacije, URL i postavke alokacije memorije.Tako naša aplikacija postavlja sljedeće parametre:
* `builder` - objekt za kreiranje i konfiguraciju SparkSessiona
* `master("local[*]")` - lokalno izvršavanje aplikacije gdje * označava izrvšavanje aplikacije na svim dostupnim jezgrama - ovdje možete upisati i broj jezgri
* `appName("SparkVjezba")` - ime aplikacije
* `getOrCreate()` - kreira novi SparkSession ako ne postoji ili vraća postojeći ako se već izvodi te time osigurava da je samo jedan SparkSession objekt kreiran za aplikaciju što je važno za efikasnu upotrebu resursa.

In [2]:
import findspark
from pyspark.sql import SparkSession

scala_version = '2.12'
spark_version = '3.4.0'
packages = [
    f'org.apache.spark:spark-sql-kafka-0-10_{scala_version}:{spark_version}',
    'org.apache.kafka:kafka-clients:3.2.1'
]

findspark.add_packages(','.join(packages))
findspark.init()

spark = (
    SparkSession.builder
    .master("local[*]")
    .appName("SparkVjezba")
    .getOrCreate()
)

# DataFrame

Ako ste korisitli Pandas biblioteku u Pythonu vjerojatno ste upoznati s konceptom DataFramea. Ipak, važno je naglasiti da DataFrame u Pandasu i Sparku nisu isti; neke od razlika su:
| Aspekt | Pandas DataFrame | Spark DataFrame |
|:--------:|:-----------------:|:----------------:|
| Izvršavanje | Manji setovi podataka i izvršavanje na jednom stroju | Veliki setovi podataka i izvršavanje na više storjeva |
| Evaluacija | Agilna | Lijena |
| Brzina | Brži za manje skupove podataka| Brži za veće skupove podataka |
| Izvori podataka | Zahtijeva dodatne bibioloteke za čitanje i pisanje raznih izvora podataka | Ugrađena potpora za čitanje i pisanje raznih izvora podataka| |

<br/>
Dataframe u Sparku možete shvatiti kao tablicu s redovima i stupcima koja sadrži veliku količinu podataka. Obrada podataka u Dataframeu se vrši korištenjem transformacija i akcija, a rezultat se može spremiti u novi Dataframe. Dataframe je također vrlo fleksibilan i može se koristiti za razne obrade podataka kao što su spajanje, filtriranje, sortiranje, agregacija i grupiranje podataka. 

## Kreiranje i korištenje DataFramea

In [ ]:
# kreacija DataFramea
data = [(1,2), (3,4)]
schema = "neparni int, parni int"
df_list = spark.createDataFrame(data, schema)

# prikaz DataFramea
df_list.show()

# prikaz scheme DataFramea
df_list.printSchema()

In [ ]:
# selekcija stupaca
df_list.select(['neparni']).show()

In [ ]:
# dodavanje stupaca
from pyspark.sql.functions import col

df_list.withColumn("zbroj", col("neparni") + col("parni")).show()

Prilikom stvaranja DF-a ukoliko nema zaglavlja (ili se ona ne čitaju) zadana vrijednost ukoliko se DF stvara iz CSV datoteke je _cn - gdje n predstavlja broj stupca počevši od nule, dok ukoliko se stvara iz liste zadana vrijednost je _n - gdje je n ekvivalent prethodnom n-u.

In [ ]:
# preimenovanje stupaca
df_list_n = spark.createDataFrame(data)
df_list_n.withColumnRenamed('_1', 'neparni') \
         .withColumnRenamed('_2', 'parni') \
         .show()

## Spark SQL i Window funkcije

Windowing u Sparku omogućuje obradu podataka u prozorima; odnosno, funkcije se mogu primijeniti i na više elemenata, a ne samo na pojedinačni element.

In [ ]:
employee_data = (("John", "Engineering", 7000),
                 ("Jane", "Marketing", 5000),
                 ("Bob", "Engineering", 6000),
                 ("Mary", "Sales", 5500),
                 ("Alex", "Marketing", 4500),
                 ("Mike", "Engineering", 7500),
                 ("Julie", "Sales", 6000),
                 ("Sam", "Finance", 6500),
                 ("Lisa", "Marketing", 4500),
                 ("Tom", "Engineering", 8000))

columns = ["name", "department", "salary"]

df_employees = spark.createDataFrame(employee_data, columns)

### Funkcije rangiranja

Funkcija row_number koristi se za dodjelu slijednog broja retka koji počinje od 1 - svaki broj koristi samo jednom neovisno o tome je li došlo do izjenačenja.

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

window_order = Window.partitionBy("department").orderBy("salary")

df_employees.withColumn("row_number", row_number().over(window_order)).show()

Funkcije rank i dense_rank dodjeljuju rang rezultatu unutar prozora. Dok rank ostavlja prazna mjesta ako dolazi do izjednačenja, dense_rank preskače praznine.

In [ ]:
from pyspark.sql.functions import rank, dense_rank

df_employees.withColumn("rank", rank().over(window_order)) \
            .withColumn("dense_rank", dense_rank().over(window_order)) \
            .show()

Funkcija percent_rank namijenjena je za izračunavanje percentila za svaki redak unutar prozora.

In [ ]:
from pyspark.sql.functions import percent_rank

df_employees.withColumn("percent_rank", percent_rank().over(window_order)).show()

Funkcija prozora ntile koristi se za podjelu rezultata unutar prozora u n jednakih dijelova.

In [ ]:
from pyspark.sql.functions import ntile

df_employees.withColumn("ntile", ntile(2).over(window_order)).show()

### Analitičke funkcije 

Funkcija cume_dist koristi se za izračun kumulativne distribucije vrijednosti unutar svakog prozora.

In [ ]:
from pyspark.sql.functions import cume_dist

df_employees.withColumn("cume_dist", cume_dist().over(window_order)).show()

Funkcija lag se koristi za dobivanje n-tog prethodnika reda unutar prozora, dok ćete funkciju lead iskoristiti kada želite dobit n-tog sljedbenika reda.

In [ ]:
from pyspark.sql.functions import lag, lead

df_employees.withColumn("lag", lag("salary", 1).over(window_order)) \
            .withColumn("lead", lead("salary", 1).over(window_order)) \
            .show()

### Agregatne funkcije

In [ ]:
from pyspark.sql.functions import avg, sum, min, max

window_aggregation  = Window.partitionBy("department")

df_employees.withColumn("row", row_number().over(window_order)) \
            .withColumn("avg", avg(col("salary")).over(window_aggregation)) \
            .withColumn("sum", sum(col("salary")).over(window_aggregation)) \
            .withColumn("min", min(col("salary")).over(window_aggregation)) \
            .withColumn("max", max(col("salary")).over(window_aggregation)) \
            .where(col("row") == 1).select("department", "avg", "sum", "min", "max") \
            .show()

## Čitanje iz datoteke
PySpark posjeduje kapacitet otkrivanja scheme - možete uključiti tu opciju postavljajući inferSchema na True. Ovaj opcionalni parametar tjera PySpark da prođe kroz podatke dvaput - prvi put kako bi postavio tip svakog stupca i drugi put da bi učitao podatke. Time učitavanje traje duže, ali nam pomaže izbjeći ručno pisanje scheme. Preuzmite skup podataka sa sljedeće poveznice https://www.kaggle.com/datasets/crawford/80-cereals te ga stavite u mapu u kojoj se nalazi vaša bilježnica.

In [ ]:
# Učitavanje datoteke sa zaglavljem i otkrivanjem scheme
df_cereal = spark.read.format('csv').option('header', True).option('inferSchema', True).load('cereal.csv')

# Prikaz samo prva tri reda
df_cereal.show(3)

# Primijetite tipove 
df_cereal.printSchema()

## Agregacije nad grupiranim stupcem
Ako želite grupirati stupce možete se poslužiti transformacijom `groupby('imestupca')`. Metoda `agg()` (agg iz "aggregation") prihvaća jednu ili više agregatnih funkcija iz modula `pyspark.sql.functions`. U primjeru ispod računamo prosječni broj kalorija po tipu žitarica te novi stupac imenujemo metodom `alias('imestupca')` koji bi u protivnom nosio naziv prema funkcijama izvedenim u `agg()` metodi - u konkretnom slučaju "round(avg(calories), 2)".

In [ ]:
from pyspark.sql.functions import round

df_cereal.groupBy('type') \
            .agg(round(avg('calories'), 2).alias('avg_calories')) \
            .show()

## Važno! 
Prije nastavka rješavanja obavite zadatak iz poglavlja "*Povezivanje PySparka s Kafkom*". Obratite pozornost na stupce u datoteci - ako ste čitali cijelu vrijednost cijeli redak će vam biti zapisan pod jedan stupac. Razdvojite datoteku po stupcima prije nastavka - npr. spremanjem datoteke nanovo u CSV formatu.
## Dnevni prosjek 
Vaš zadatak je prikazati kretanje prosječne dnevne cijene kroz proteklih sto dana koristeći DataFrame kao strukturu podataka. Ispišite vaše rješenje na ekran - poredajte elemente silazno po prosječnoj cijeni zaokruženoj na jednu decimalu te im dodijelite rang. Možete koristiti `from_unixtime` iz `pyspark.sql.functions` modula za izvršenje zadatka.

In [11]:
from pyspark.sql.functions import to_date, split, desc, rank, avg, round
from pyspark.sql.window import Window

kafka_df = (
    spark.readStream
    .format("kafka")
    .option("kafka.bootstrap.servers", "localhost:9092")
    .option("subscribe", "BTC")
    .option("startingOffsets", "earliest")
    .load()
)

kafka_df = kafka_df.withColumn("value", kafka_df["value"].cast("string"))

split_columns = split(kafka_df['value'], ',')
kafka_df = kafka_df.withColumn('date', to_date(split_columns.getItem(0)))
kafka_df = kafka_df.withColumn('timestamp', split_columns.getItem(1).cast('integer'))
kafka_df = kafka_df.withColumn('price', split_columns.getItem(2).cast('decimal(30, 15)'))
kafka_df = kafka_df.select(['date', 'price'])

kafka_df = (
    kafka_df.groupBy('date')
    .agg(round(avg('price'), 1).alias('avg_price'))
    .orderBy('avg_price', ascending=False)
)

# kafka_df = kafka_df.withColumn("rank", rank().over(Window.partitionBy('timestamp').orderBy(desc("timestamp"))))

In [12]:
kafka_df.printSchema()

root
 |-- date: date (nullable = true)
 |-- avg_price: decimal(17,1) (nullable = true)

In [13]:
kafka_query = (
    kafka_df.writeStream
    .format("console")
    # .option("path", "output/data")
    # .option("checkpointLocation", "output/checkpoint")
    .outputMode("complete")
    .start()
)

kafka_query.processAllAvailable()

# Resilient Distributed Dataset (RDD) 
Postoje dva načina kako kreirati RDD: 
* paralelizacijom postojeće kolekcije - pozivanjem metode parallelize
* referenciranjem skupa podataka u vanjsokom sustavu za pohranu - pozivanjem metode textfile koja kao argument prihvaća put do datoteke


RDD se poziva nad SparkContextom koji možete izvući iz SparkSession objekta.

In [ ]:
# SparkContext objekt iz SparkSessiona
sc = spark.sparkContext

# Paralelizacija postojeće kolekcije
rdd_array = sc.parallelize([1, 2, 3])

# Učitavanje iz datoteke - zamijenite naziv CSV datoteke sa svojim
rdd_csv = sc.textFile("coincap.csv")

## Osnovne akcije nad RDD-ovima 
Metoda `collect()` dohvaća cijeli RDD (primijetite kako je svaki redak pročitan kao jedan element iako sadrži dva podatka).

In [ ]:
rdd_csv.collect()

Metoda `count()` pokazuje broj elemenata u RDD-u.

In [ ]:
rdd_csv.count()

Kako biste uzeli određeni broj elemenata (po redu) potrebno je pozvati `take(n)` gdje n ukazuje koji je to broj elemenata:

In [ ]:
rdd_csv.take(2)

## Transformacije nad RDD-ovima

Tranformacija filter se koristi kako bi se zadržali elementi koji ispunjavaju određeni uvjet; nad svakim elementom se poziva funkcija te ako je odgovor na tu funkciju True taj element se zadržava.

In [ ]:
veci_od_jedan = rdd_array.filter(lambda x: x > 1)
veci_od_jedan.collect()

Koristeći map transformaciju možete nad svakim elementom RDD-a izvesti određenu funkciju. Primjerice, ako imate csv datoteku u kojoj imate više stupaca - te elemente možete pročitati pozivajući funkciju koja će razdvojiti vaš redak u elemente po delimiteru u vašoj datoteci.

Kao vježbu napišite naredbu s lambda funkcijom koja će vaš rdd_csv razdvojiti po stupcima te prikažite novi RDD na zaslonu.

In [5]:
sc = spark.sparkContext

cereal_rdd = sc.textFile('cereal.csv')\
    .map(lambda x: x.split(','))

cereal_rdd.collect()

[['name',
  'mfr',
  'type',
  'calories',
  'protein',
  'fat',
  'sodium',
  'fiber',
  'carbo',
  'sugars',
  'potass',
  'vitamins',
  'shelf',
  'weight',
  'cups',
  'rating'],
 ['100% Bran',
  'N',
  'C',
  '70',
  '4',
  '1',
  '130',
  '10',
  '5',
  '6',
  '280',
  '25',
  '3',
  '1',
  '0.33',
  '68.402973'],
 ['100% Natural Bran',
  'Q',
  'C',
  '120',
  '3',
  '5',
  '15',
  '2',
  '8',
  '8',
  '135',
  '0',
  '3',
  '1',
  '1',
  '33.983679'],
 ['All-Bran',
  'K',
  'C',
  '70',
  '4',
  '1',
  '260',
  '9',
  '7',
  '5',
  '320',
  '25',
  '3',
  '1',
  '0.33',
  '59.425505'],
 ['All-Bran with Extra Fiber',
  'K',
  'C',
  '50',
  '4',
  '0',
  '140',
  '14',
  '8',
  '0',
  '330',
  '25',
  '3',
  '1',
  '0.5',
  '93.704912'],
 ['Almond Delight',
  'R',
  'C',
  '110',
  '2',
  '2',
  '200',
  '1',
  '14',
  '8',
  '-1',
  '25',
  '3',
  '1',
  '0.75',
  '34.384843'],
 ['Apple Cinnamon Cheerios',
  'G',
  'C',
  '110',
  '2',
  '2',
  '180',
  '1.5',
  '10.5',
  '10',
  '70',
  '25',
  '1',
  '1',
  '0.75',
  '29.509541'],
 ['Apple Jacks',
  'K',
  'C',
  '110',
  '2',
  '0',
  '125',
  '1',
  '11',
  '14',
  '30',
  '25',
  '2',
  '1',
  '1',
  '33.174094'],
 ['Basic 4',
  'G',
  'C',
  '130',
  '3',
  '2',
  '210',
  '2',
  '18',
  '8',
  '100',
  '25',
  '3',
  '1.33',
  '0.75',
  '37.038562'],
 ['Bran Chex',
  'R',
  'C',
  '90',
  '2',
  '1',
  '200',
  '4',
  '15',
  '6',
  '125',
  '25',
  '1',
  '1',
  '0.67',
  '49.120253'],
 ['Bran Flakes',
  'P',
  'C',
  '90',
  '3',
  '0',
  '210',
  '5',
  '13',
  '5',
  '190',
  '25',
  '3',
  '1',
  '0.67',
  '53.313813'],
 ["Cap'n'Crunch",
  'Q',
  'C',
  '120',
  '1',
  '2',
  '220',
  '0',
  '12',
  '12',
  '35',
  '25',
  '2',
  '1',
  '0.75',
  '18.042851'],
 ['Cheerios',
  'G',
  'C',
  '110',
  '6',
  '2',
  '290',
  '2',
  '17',
  '1',
  '105',
  '25',
  '1',
  '1',
  '1.25',
  '50.764999'],
 ['Cinnamon Toast Crunch',
  'G',
  'C',
  '120',
  '1',
  '3',
  '210',
  '0',
  '13',
  '9',
  '45',
  '25',
  '2',
  '1',
  '0.75',
  '19.823573'],
 ['Clusters',
  'G',
  'C',
  '110',
  '3',
  '2',
  '140',
  '2',
  '13',
  '7',
  '105',
  '25',
  '3',
  '1',
  '0.5',
  '40.400208'],
 ['Cocoa Puffs',
  'G',
  'C',
  '110',
  '1',
  '1',
  '180',
  '0',
  '12',
  '13',
  '55',
  '25',
  '2',
  '1',
  '1',
  '22.736446'],
 ['Corn Chex',
  'R',
  'C',
  '110',
  '2',
  '0',
  '280',
  '0',
  '22',
  '3',
  '25',
  '25',
  '1',
  '1',
  '1',
  '41.445019'],
 ['Corn Flakes',
  'K',
  'C',
  '100',
  '2',
  '0',
  '290',
  '1',
  '21',
  '2',
  '35',
  '25',
  '1',
  '1',
  '1',
  '45.863324'],
 ['Corn Pops',
  'K',
  'C',
  '110',
  '1',
  '0',
  '90',
  '1',
  '13',
  '12',
  '20',
  '25',
  '2',
  '1',
  '1',
  '35.782791'],
 ['Count Chocula',
  'G',
  'C',
  '110',
  '1',
  '1',
  '180',
  '0',
  '12',
  '13',
  '65',
  '25',
  '2',
  '1',
  '1',
  '22.396513'],
 ["Cracklin' Oat Bran",
  'K',
  'C',
  '110',
  '3',
  '3',
  '140',
  '4',
  '10',
  '7',
  '160',
  '25',
  '3',
  '1',
  '0.5',
  '40.448772'],
 ['Cream of Wheat (Quick)',
  'N',
  'H',
  '100',
  '3',
  '0',
  '80',
  '1',
  '21',
  '0',
  '-1',
  '0',
  '2',
  '1',
  '1',
  '64.533816'],
 ['Crispix',
  'K',
  'C',
  '110',
  '2',
  '0',
  '220',
  '1',
  '21',
  '3',
  '30',
  '25',
  '3',
  '1',
  '1',
  '46.895644'],
 ['Crispy Wheat & Raisins',
  'G',
  'C',
  '100',
  '2',
  '1',
  '140',
  '2',
  '11',
  '10',
  '120',
  '25',
  '3',
  '1',
  '0.75',
  '36.176196'],
 ['Double Chex',
  'R',
  'C',
  '100',
  '2',
  '0',
  '190',
  '1',
  '18',
  '5',
  '80',
  '25',
  '3',
  '1',
  '0.75',
  '44.330856'],
 ['Froot Loops',
  'K',
  'C',
  '110',
  '2',
  '1',
  '125',
  '1',
  '11',
  '13',
  '30',
  '25',
  '2',
  '1',
  '1',
  '32.207582'],
 ['Frosted Flakes',
  'K',
  'C',
  '110',
  '1',
  '0',
  '200',
  '1',
  '14',
  '11',
  '25',
  '25',
  '1',
  '1',
  '0.75',
  '31.435973'],
 ['Frosted Mini-Wheats',
  'K',
  'C',
  '100',
  '3',
  '0',
  '0',
  '3',
  '14',
  '7',
  '100',
  '25',
  '2',
  '1',
  '0.8',
  '58.345141'],
 ['Fruit & Fibre Dates; Walnuts; and Oats',
  'P',
  'C',
  '120',
  '3',
  '2',
  '160',
  '5',
  '12',
  '10',
  '200',
  '25',
  '3',
  '1.25',
  '0.67',
  '40.917047'],
 ['Fruitful Bran',
  'K',
  'C',
  '120',
  '3',
  '0',
  '240',
  '5',
  '14',
  '12',
  '190',
  '25',
  '3',
  '1.33',
  '0.67',
  '41.015492'],
 ['Fruity Pebbles',
  'P',
  'C',
  '110',
  '1',
  '1',
  '135',
  '0',
  '13',
  '12',
  '25',
  '25',
  '2',
  '1',
  '0.75',
  '28.025765'],
 ['Golden Crisp',
  'P',
  'C',
  '100',
  '2',
  '0',
  '45',
  '0',
  '11',
  '15',
  '40',
  '25',
  '1',
  '1',
  '0.88',
  '35.252444'],
 ['Golden Grahams',
  'G',
  'C',
  '110',
  '1',
  '1',
  '280',
  '0',
  '15',
  '9',
  '45',
  '25',
  '2',
  '1',
  '0.75',
  '23.804043'],
 ['Grape Nuts Flakes',
  'P',
  'C',
  '100',
  '3',
  '1',
  '140',
  '3',
  '15',
  '5',
  '85',
  '25',
  '3',
  '1',
  '0.88',
  '52.076897'],
 ['Grape-Nuts',
  'P',
  'C',
  '110',
  '3',
  '0',
  '170',
  '3',
  '17',
  '3',
  '90',
  '25',
  '3',
  '1',
  '0.25',
  '53.371007'],
 ['Great Grains Pecan',
  'P',
  'C',
  '120',
  '3',
  '3',
  '75',
  '3',
  '13',
  '4',
  '100',
  '25',
  '3',
  '1',
  '0.33',
  '45.811716'],
 ['Honey Graham Ohs',
  'Q',
  'C',
  '120',
  '1',
  '2',
  '220',
  '1',
  '12',
  '11',
  '45',
  '25',
  '2',
  '1',
  '1',
  '21.871292'],
 ['Honey Nut Cheerios',
  'G',
  'C',
  '110',
  '3',
  '1',
  '250',
  '1.5',
  '11.5',
  '10',
  '90',
  '25',
  '1',
  '1',
  '0.75',
  '31.072217'],
 ['Honey-comb',
  'P',
  'C',
  '110',
  '1',
  '0',
  '180',
  '0',
  '14',
  '11',
  '35',
  '25',
  '1',
  '1',
  '1.33',
  '28.742414'],
 ['Just Right Crunchy  Nuggets',
  'K',
  'C',
  '110',
  '2',
  '1',
  '170',
  '1',
  '17',
  '6',
  '60',
  '100',
  '3',
  '1',
  '1',
  '36.523683'],
 ['Just Right Fruit & Nut',
  'K',
  'C',
  '140',
  '3',
  '1',
  '170',
  '2',
  '20',
  '9',
  '95',
  '100',
  '3',
  '1.3',
  '0.75',
  '36.471512'],
 ['Kix',
  'G',
  'C',
  '110',
  '2',
  '1',
  '260',
  '0',
  '21',
  '3',
  '40',
  '25',
  '2',
  '1',
  '1.5',
  '39.241114'],
 ['Life',
  'Q',
  'C',
  '100',
  '4',
  '2',
  '150',
  '2',
  '12',
  '6',
  '95',
  '25',
  '2',
  '1',
  '0.67',
  '45.328074'],
 ['Lucky Charms',
  'G',
  'C',
  '110',
  '2',
  '1',
  '180',
  '0',
  '12',
  '12',
  '55',
  '25',
  '2',
  '1',
  '1',
  '26.734515'],
 ['Maypo',
  'A',
  'H',
  '100',
  '4',
  '1',
  '0',
  '0',
  '16',
  '3',
  '95',
  '25',
  '2',
  '1',
  '1',
  '54.850917'],
 ['Muesli Raisins; Dates; & Almonds',
  'R',
  'C',
  '150',
  '4',
  '3',
  '95',
  '3',
  '16',
  '11',
  '170',
  '25',
  '3',
  '1',
  '1',
  '37.136863'],
 ['Muesli Raisins; Peaches; & Pecans',
  'R',
  'C',
  '150',
  '4',
  '3',
  '150',
  '3',
  '16',
  '11',
  '170',
  '25',
  '3',
  '1',
  '1',
  '34.139765'],
 ['Mueslix Crispy Blend',
  'K',
  'C',
  '160',
  '3',
  '2',
  '150',
  '3',
  '17',
  '13',
  '160',
  '25',
  '3',
  '1.5',
  '0.67',
  '30.313351'],
 ['Multi-Grain Cheerios',
  'G',
  'C',
  '100',
  '2',
  '1',
  '220',
  '2',
  '15',
  '6',
  '90',
  '25',
  '1',
  '1',
  '1',
  '40.105965'],
 ['Nut&Honey Crunch',
  'K',
  'C',
  '120',
  '2',
  '1',
  '190',
  '0',
  '15',
  '9',
  '40',
  '25',
  '2',
  '1',
  '0.67',
  '29.924285'],
 ['Nutri-Grain Almond-Raisin',
  'K',
  'C',
  '140',
  '3',
  '2',
  '220',
  '3',
  '21',
  '7',
  '130',
  '25',
  '3',
  '1.33',
  '0.67',
  '40.692320'],
 ['Nutri-grain Wheat',
  'K',
  'C',
  '90',
  '3',
  '0',
  '170',
  '3',
  '18',
  '2',
  '90',
  '25',
  '3',
  '1',
  '1',
  '59.642837'],
 ['Oatmeal Raisin Crisp',
  'G',
  'C',
  '130',
  '3',
  '2',
  '170',
  '1.5',
  '13.5',
  '10',
  '120',
  '25',
  '3',
  '1.25',
  '0.5',
  '30.450843'],
 ['Post Nat. Raisin Bran',
  'P',
  'C',
  '120',
  '3',
  '1',
  '200',
  '6',
  '11',
  '14',
  '260',
  '25',
  '3',
  '1.33',
  '0.67',
  '37.840594'],
 ['Product 19',
  'K',
  'C',
  '100',
  '3',
  '0',
  '320',
  '1',
  '20',
  '3',
  '45',
  '100',
  '3',
  '1',
  '1',
  '41.503540'],
 ['Puffed Rice',
  'Q',
  'C',
  '50',
  '1',
  '0',
  '0',
  '0',
  '13',
  '0',
  '15',
  '0',
  '3',
  '0.5',
  '1',
  '60.756112'],
 ['Puffed Wheat',
  'Q',
  'C',
  '50',
  '2',
  '0',
  '0',
  '1',
  '10',
  '0',
  '50',
  '0',
  '3',
  '0.5',
  '1',
  '63.005645'],
 ['Quaker Oat Squares',
  'Q',
  'C',
  '100',
  '4',
  '1',
  '135',
  '2',
  '14',
  '6',
  '110',
  '25',
  '3',
  '1',
  '0.5',
  '49.511874'],
 ['Quaker Oatmeal',
  'Q',
  'H',
  '100',
  '5',
  '2',
  '0',
  '2.7',
  '-1',
  '-1',
  '110',
  '0',
  '1',
  '1',
  '0.67',
  '50.828392'],
 ['Raisin Bran',
  'K',
  'C',
  '120',
  '3',
  '1',
  '210',
  '5',
  '14',
  '12',
  '240',
  '25',
  '2',
  '1.33',
  '0.75',
  '39.259197'],
 ['Raisin Nut Bran',
  'G',
  'C',
  '100',
  '3',
  '2',
  '140',
  '2.5',
  '10.5',
  '8',
  '140',
  '25',
  '3',
  '1',
  '0.5',
  '39.703400'],
 ['Raisin Squares',
  'K',
  'C',
  '90',
  '2',
  '0',
  '0',
  '2',
  '15',
  '6',
  '110',
  '25',
  '3',
  '1',
  '0.5',
  '55.333142'],
 ['Rice Chex',
  'R',
  'C',
  '110',
  '1',
  '0',
  '240',
  '0',
  '23',
  '2',
  '30',
  '25',
  '1',
  '1',
  '1.13',
  '41.998933'],
 ['Rice Krispies',
  'K',
  'C',
  '110',
  '2',
  '0',
  '290',
  '0',
  '22',
  '3',
  '35',
  '25',
  '1',
  '1',
  '1',
  '40.560159'],
 ['Shredded Wheat',
  'N',
  'C',
  '80',
  '2',
  '0',
  '0',
  '3',
  '16',
  '0',
  '95',
  '0',
  '1',
  '0.83',
  '1',
  '68.235885'],
 ["Shredded Wheat 'n'Bran",
  'N',
  'C',
  '90',
  '3',
  '0',
  '0',
  '4',
  '19',
  '0',
  '140',
  '0',
  '1',
  '1',
  '0.67',
  '74.472949'],
 ['Shredded Wheat spoon size',
  'N',
  'C',
  '90',
  '3',
  '0',
  '0',
  '3',
  '20',
  '0',
  '120',
  '0',
  '1',
  '1',
  '0.67',
  '72.801787'],
 ['Smacks',
  'K',
  'C',
  '110',
  '2',
  '1',
  '70',
  '1',
  '9',
  '15',
  '40',
  '25',
  '2',
  '1',
  '0.75',
  '31.230054'],
 ['Special K',
  'K',
  'C',
  '110',
  '6',
  '0',
  '230',
  '1',
  '16',
  '3',
  '55',
  '25',
  '1',
  '1',
  '1',
  '53.131324'],
 ['Strawberry Fruit Wheats',
  'N',
  'C',
  '90',
  '2',
  '0',
  '15',
  '3',
  '15',
  '5',
  '90',
  '25',
  '2',
  '1',
  '1',
  '59.363993'],
 ['Total Corn Flakes',
  'G',
  'C',
  '110',
  '2',
  '1',
  '200',
  '0',
  '21',
  '3',
  '35',
  '100',
  '3',
  '1',
  '1',
  '38.839746'],
 ['Total Raisin Bran',
  'G',
  'C',
  '140',
  '3',
  '1',
  '190',
  '4',
  '15',
  '14',
  '230',
  '100',
  '3',
  '1.5',
  '1',
  '28.592785'],
 ['Total Whole Grain',
  'G',
  'C',
  '100',
  '3',
  '1',
  '200',
  '3',
  '16',
  '3',
  '110',
  '100',
  '3',
  '1',
  '1',
  '46.658844'],
 ['Triples',
  'G',
  'C',
  '110',
  '2',
  '1',
  '250',
  '0',
  '21',
  '3',
  '60',
  '25',
  '3',
  '1',
  '0.75',
  '39.106174'],
 ['Trix',
  'G',
  'C',
  '110',
  '1',
  '1',
  '140',
  '0',
  '13',
  '12',
  '25',
  '25',
  '2',
  '1',
  '1',
  '27.753301'],
 ['Wheat Chex',
  'R',
  'C',
  '100',
  '3',
  '1',
  '230',
  '3',
  '17',
  '3',
  '115',
  '25',
  '1',
  '1',
  '0.67',
  '49.787445'],
 ['Wheaties',
  'G',
  'C',
  '100',
  '3',
  '1',
  '200',
  '3',
  '17',
  '3',
  '110',
  '25',
  '1',
  '1',
  '1',
  '51.592193'],
 ['Wheaties Honey Gold',
  'G',
  'C',
  '110',
  '2',
  '1',
  '200',
  '1',
  '16',
  '8',
  '60',
  '25',
  '1',
  '1',
  '0.75',
  '36.187559']]

Transformacija reduce primjenjuje danu funkciju na dva parametra istog tipa te vraća jedan rezultat. Ta funkcija se primjenjuje elementima u strukturi sličnoj stablu, gdje se na svakoj razini broj elemenata prepolavlja sve dok se ne dođe do jednog elementa.

In [ ]:
sum = rdd_array.reduce(lambda x, y: x + y)
print(sum)

Transformacija groupByKey grupira zapise prema ključu i vraća RDD gdje svaki zapis ima ključ i listu vrijednosti povezanih s tim ključem.

In [ ]:
rdd_employees = sc.parallelize([("Engineering", "Mike"), ("Engineering", "Tom"), ("Marketing", "Lisa")])

for key, values in rdd_employees.groupByKey().collect():
    print(f"{key}: {list(values)}")

## Najviše dnevne cijene

Vaš zadatak je pronaći najveći dnevni maksimum kroz protekla dva tjedna koristeći RDD kao strukturu podataka. Pripazite na tipove učitanih podataka. Ovisno o kodu koji unesete možete nepovratno "pokvariti" kernel kada računate s RDD-om u Jupyteru pa ga stoga iznova pokrenite s vremena na vrijeme.

In [8]:
from datetime import datetime, timedelta
from decimal import Decimal

coin_rdd = (
    sc.textFile('coin_data.csv')
    .map(lambda x: x.split(','))
    .map(lambda x: (datetime.strptime(x[0], "%Y-%m-%d"), Decimal(x[1])))
    .filter(lambda x: x[0] > datetime.now() - timedelta(days=14))
    .reduceByKey(lambda x, y: max(x, y))
)

coin_rdd.collect()

[(datetime.datetime(2023, 4, 17, 0, 0), Decimal('30361.310477781287508')),
 (datetime.datetime(2023, 4, 20, 0, 0), Decimal('28993.516167577716877')),
 (datetime.datetime(2023, 4, 21, 0, 0), Decimal('28363.641508847066238')),
 (datetime.datetime(2023, 4, 22, 0, 0), Decimal('27979.228066477305455')),
 (datetime.datetime(2023, 4, 25, 0, 0), Decimal('28313.967171490043940')),
 (datetime.datetime(2023, 4, 27, 0, 0), Decimal('29805.672889383884658')),
 (datetime.datetime(2023, 4, 28, 0, 0), Decimal('29557.199025097977494')),
 (datetime.datetime(2023, 4, 18, 0, 0), Decimal('30412.312209607134311')),
 (datetime.datetime(2023, 4, 19, 0, 0), Decimal('30405.896696393288237')),
 (datetime.datetime(2023, 4, 23, 0, 0), Decimal('27947.727003361786518')),
 (datetime.datetime(2023, 4, 24, 0, 0), Decimal('27858.053217704780079')),
 (datetime.datetime(2023, 4, 26, 0, 0), Decimal('29964.030845553844425')),
 (datetime.datetime(2023, 4, 29, 0, 0), Decimal('29488.927214196094023'))]